# -----------------------------------------------------------------------------
# SERVER IDENTITY
# -----------------------------------------------------------------------------
SERVER_NAME=My Valheim Server
WORLD_NAME=Dedicated
SERVER_PASS=changeme

# -----------------------------------------------------------------------------
# UPDATES, RESTARTS, BACKUPS (SCHEDULES & CONDITIONS)
# -----------------------------------------------------------------------------
# update
UPDATE_CRON=30 * * * *
UPDATE_IF_IDLE=true
# restart
RESTART_CRON=30 4 * * *
RESTART_IF_IDLE=true
# backups
BACKUPS=true
BACKUPS_CRON=5 * * * *
BACKUPS_DIRECTORY=/config/backups
BACKUPS_MAX_AGE=7
BACKUPS_MAX_COUNT=168
BACKUPS_ZIP=true
BACKUPS_IF_IDLE=true

# -----------------------------------------------------------------------------
# MODS
# -----------------------------------------------------------------------------
BEPINEX=false
BEPINEXCFG_Logging_DOT_Console_Enabled=false
VALHEIM_PLUS=false

# -----------------------------------------------------------------------------
# SYNC WORLDS WITH A WINDOWS MACHINE
# -----------------------------------------------------------------------------
# IP address or hostname of your Windows machine (Tailscale IP recommended)
WIN_HOST=
WIN_USER=
WIN_SSH_USER=
WIN_SSH_PORT=22
WIN_SSH_KEY=/root/.ssh/id_ed25519_valheim_win

# -----------------------------------------------------------------------------
# CONTAINER USER PERMISSIONS
# -----------------------------------------------------------------------------
PUID=1000
PGID=1000

# -----------------------------------------------------------------------------
# DLL PATCHING
# -----------------------------------------------------------------------------
APPLY_DLL_PATCH=false
PRE_SERVER_RUN_HOOK=/scripts/apply-patch.sh

# -----------------------------------------------------------------------------
# EXTRA CONFIGURATION
# -----------------------------------------------------------------------------
SERVER_PUBLIC=false
CROSSPLAY=false
TZ=Etc/UTC